body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

input {
    text-align: center;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#table-grid {
    display: table;
}

.row {
    display: table-row
}

.cell {
    display: table-cell;
    border: 0.5px solid black;
    vertical-align: middle;
    box-sizing: border-box;
}

#game button, td {
    padding: 5px;
}

